/* definições gerais */

body, h1, h2, h3, h4, h5, h6 {
    font-family: 'Orbitron', sans-serif;
}

a:link {
    text-decoration: none;
}

*{color: #ffffff;}

body{
    background-color: #250606;
    margin: 5px;
    background-image: url('../img/img-instruments.jpg');
    background-position: center;
    background-position-y: 70px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 90vh;
}

.container{
    min-width: 320px;
    padding:0;
}

/* definições container header */

.container-header{
    position: relative;
    height: auto;
}

.container-header a h1{
    margin: 15px 15px;  
    color:#9acd32;
}

.button-menu{
    position: absolute;
    right: 15px;
    top:6px;
    font-size: 2.5em;
    text-shadow: 2px 2px 5px #9acd32;
    animation-name: anim-button-menu;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    
}

/* Animation button-menu */

@keyframes anim-button-menu{
    from{font-size: 2.5em;}
    to{font-size: 2.8em;}
}


/* definições do menu */

.container-menu{
    position: relative;
    right: 100%;
    width: 50%;
}

.container-menu ul{
    list-style-type: none;
    padding: 0;
}

.container-menu ul li{
    margin: 5px 15px;
    padding: 5px;
    text-shadow: 2px 2px 5px #9acd32;
    background-color: #9acd32;
    color: #250606;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 5px;
}

/* Animação Menu */
.abrir-menu{
    animation-name: anim-abre-menu;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

.fechar-menu{
    animation-name: anim-fechar-menu;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

@keyframes anim-abre-menu{
    from{right: 100%;}
    to{right: 0;}
}

@keyframes anim-fechar-menu{
    from{right: 0;}
    to{right: 100%;}
}